/* responsive part start from here */

@media all and (max-width:753px){
    .middle-area{
        width: 95%;  
    }
}
@media all and (max-width:634px){
    .logo-area{
        width: 100%;
        float: none;
        margin-bottom: 27px;
    }
    .login-area{
        width: 100%;
        float: none;
    }
    .login-area form{
        float: none;
    }
    .login-first{
    float: none;
    }
    .login-second{
    float: none;
    }
    .login-submit{
    float: none;
    }
    .login-area input[type="text"],.login-area input[type="password"]{
        width: 100%;
    }
    .signup-left{
        width: 100%;
        float: none;
    }
    .signup-right{
        width: 100%;
        float: none;
    }
    .signup-left img{
        display: none;
    }

